---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import PostCard from '../../components/PostCard.astro';

const posts = await getCollection('blog', ({ data }) => data.published !== false);
posts.sort((a, b) => {
  const aDate = a.data.date?.getTime() ?? 0;
  const bDate = b.data.date?.getTime() ?? 0;
  return bDate - aDate;
});
---

<Layout title="Blog Listing" description="A listing of all blogs, articles, and missives.">
  <article class="px-4 relative h-full">
    <h1 class="w-full text-5xl mb-6 text-center">Blog</h1>
    {posts.length > 0
      ? posts.map((post) => <PostCard post={post} />)
      : <p>No articles found.</p>
    }
  </article>
</Layout>
