@font-face {
  font-family: 'Fjalla One';
  font-style: normal;
  font-weight: 400;
  font-display: optional;
  src: url('/fonts/FjallaOne.woff2') format('woff2');
}

:root {
  --c-gray: #212121;
  --c-accent: #00b2cc;
}

/* === Base === */

html {
  height: 100%;
  min-height: 100%;
  width: 100%;
  position: relative;
}

body {
  height: 100%;
  min-height: 100%;
  width: 100%;
  margin: 0;
  position: relative;
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
  color: var(--c-gray);
}

html.dark body {
  background: var(--c-gray);
  color: white;
}

/* === Layout === */

#content {
  width: 100%;
  min-height: calc(100% - 1px);
  position: relative;
  display: flex;
  flex-direction: column;
}

main {
  width: 100%;
  flex-grow: 1;
  position: relative;
  overflow-x: hidden;
}

/* === Header === */

#header {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  z-index: 10;
  height: 3rem;
  border-bottom: 1px solid var(--c-gray);
  background: rgba(255, 255, 255, 0.8);
  transition: transform 500ms;
}

html.dark #header {
  background: rgba(33, 33, 33, 0.8);
  border-color: white;
}

#header.-translate-y-12 {
  transform: translateY(-3rem);
}

#open-nav-btn {
  cursor: pointer;
  color: var(--c-gray);
  margin: 12px 16px;
  background: none;
  border: none;
  padding: 0;
}

html.dark #open-nav-btn {
  color: white;
}

.title-text {
  height: 3rem;
  display: block;
  float: right;
  margin-right: 1rem;
  font-weight: bold;
  line-height: 3;
}

/* === Navigation === */

#nav {
  height: 100%;
  width: 15rem;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 20;
  overflow-x: hidden;
  transition: transform 500ms;
  transform: translateX(-15rem);
}

#nav.translate-x-0 {
  transform: translateX(0);
}

.navContainer {
  height: 100%;
  border-right: 1px solid var(--c-gray);
  background: white;
}

html.dark .navContainer {
  background: var(--c-gray);
  border-color: white;
}

#close-nav-btn {
  cursor: pointer;
  color: var(--c-gray);
  margin: 12px 16px 8px;
  background: none;
  border: none;
  padding: 0;
}

html.dark #close-nav-btn {
  color: white;
}

#nav ul {
  box-sizing: border-box;
  width: 100%;
  list-style: none;
  padding: 0 1rem;
  margin: 0;
}

#nav ul li {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 3rem;
  box-sizing: border-box;
  border-top: 1px solid var(--c-gray);
  line-height: 3;
}

#nav ul li:first-child {
  border-top: none;
}

html.dark #nav ul li {
  border-color: white;
}

#nav ul li a {
  width: 100%;
  display: block;
  text-decoration: none;
  color: var(--c-gray);
  border-bottom: 0;
}

html.dark #nav ul li a {
  color: white;
}

/* === Theme switcher === */

#theme-switcher button {
  cursor: pointer;
  color: var(--c-gray);
  background: none;
  border: none;
  padding: 0;
}

html.dark #theme-switcher button {
  color: white;
}

#theme-sun { display: none; }
#theme-moon { display: inline-flex; }
html.dark #theme-sun { display: inline-flex; }
html.dark #theme-moon { display: none; }

/* === Footer === */

#footer {
  width: 100%;
  position: relative;
  height: 3rem;
  border-top: 1px solid var(--c-gray);
  font-size: 0.875rem;
  line-height: 3.4285;
  padding: 0 1rem;
  box-sizing: border-box;
}

html.dark #footer {
  border-color: white;
}

/* === Links === */

a,
a:visited,
a:hover,
a:active {
  color: var(--c-gray);
}

html.dark a,
html.dark a:visited,
html.dark a:hover,
html.dark a:active {
  color: white;
}

article a,
article a:visited {
  text-decoration: none;
  border-bottom: 2px dotted var(--c-accent);
}

article a:hover,
article a:active {
  color: var(--c-accent);
}

/* === Typography === */

ul {
  list-style: square outside;
}

ol {
  list-style: decimal outside;
}

h1 {
  font-weight: bold;
}

h2 {
  box-sizing: border-box;
  width: 100%;
  padding: 0;
  margin: 0 0 1.5rem 0;
  font-size: 1.875rem;
  line-height: 1.6;
  font-weight: bold;
}

h3 {
  box-sizing: border-box;
  width: 100%;
  padding: 0;
  margin: 0 0 1.5rem 0;
  font-size: 1.25rem;
  line-height: 1.2;
  font-weight: bold;
}

p {
  display: inline-block;
  width: 100%;
  font-size: 1rem;
  line-height: 1.5;
  padding: 0;
  margin: 0 0 1.5rem 0;
}

ul {
  display: block;
  width: 100%;
  padding: 0 0 0 1rem;
  margin-bottom: 1.5rem;
}

ol {
  display: inline-block;
  width: 100%;
  position: relative;
  padding-left: 1rem;
  margin-bottom: 1.5rem;
}

ol li p,
ul li p {
  display: inline-block;
  padding: 0;
}

ol li p:last-child,
ul li p:last-child {
  margin-bottom: 0;
}

blockquote {
  width: 100%;
  box-sizing: border-box;
  border-left: 4px solid var(--c-gray);
  padding: 0 1rem;
  margin: 0 0 1.5rem 0;
}

html.dark blockquote {
  border-color: white;
}

blockquote p:last-child {
  margin-bottom: 0;
}

blockquote ul:last-child,
blockquote ol:last-child {
  margin-bottom: 0;
}

blockquote > h2,
h3,
h4,
h5,
h6 {
  border: 0;
}

code {
  display: inline-block;
  font-family: "Courier New", monospace;
  background: black;
  line-height: 1;
  margin: 0 0 1.5rem 0;
}

p code {
  margin-bottom: 0;
}

pre {
  width: 100%;
}

/* === Article === */

article {
  width: 100%;
  padding-top: 6em;
}

/* === Meta === */

.meta {
  height: 1.5rem;
  border-top: 1px dashed var(--c-gray);
  font-size: 0.875rem;
  line-height: 1.5rem;
  box-sizing: border-box;
  margin: 0 0 1.5rem 0;
  width: 100%;
}

html.dark .meta {
  border-color: white;
}

/* === Nav icon === */

.icon::before {
  content: "#";
  font-size: 1rem;
}

/* === Responsive === */

@media (min-width: 640px) {
  h2 {
    border-top: 1px solid var(--c-gray);
    width: 33.333%;
    margin: 0;
    float: left;
    clear: both;
    padding: 1.5rem 1rem 0 0;
  }

  html.dark h2 {
    border-color: white;
  }

  h3 {
    width: 66.666%;
    float: right;
  }

  h2 + p,
  h2 + h3 {
    border-top: 1px solid var(--c-gray);
    padding-top: 1.5rem;
  }

  html.dark h2 + p,
  html.dark h2 + h3 {
    border-color: white;
  }

  p,
  blockquote,
  ul,
  ol {
    width: 66.666%;
    float: right;
  }

  p:first-child {
    border-top: 0;
    width: 100%;
    font-size: 2rem;
    line-height: 1.5;
  }

  blockquote p:first-child,
  li p:first-child {
    font-size: 1rem;
    line-height: 1.5;
    padding: 0;
    margin: 0 0 1.5rem 0;
    border: 0;
  }

  blockquote p {
    width: 100%;
  }

  blockquote p:last-child {
    margin-bottom: 0;
  }

  blockquote > blockquote {
    width: 100%;
  }

  blockquote h2,
  blockquote h3,
  blockquote h4,
  blockquote h5,
  blockquote h6 {
    border: 0;
    float: none;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  blockquote ul,
  blockquote ol {
    width: 100%;
  }

  ul li p,
  ol li p {
    font-size: 1rem;
    width: 100%;
    clear: both;
    float: none;
  }

  ol li p:first-of-type,
  ul li p:first-of-type {
    font-size: 1rem;
    padding: 0;
    float: none;
  }

  blockquote ul:last-child,
  blockquote ol:last-child {
    margin-bottom: 0;
  }

  pre {
    width: 66.666%;
    float: right;
  }

  ul li pre,
  ol li pre,
  ul li blockquote,
  ol li blockquote {
    width: 100%;
    float: none;
  }

  .meta {
    width: 66.666%;
    float: right;
  }
}

@media (min-width: 1024px) {
  article {
    width: 60rem;
    margin: 0 auto;
  }
}

/* === IndieWeb === */

#representative-hcard {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
