---
import Layout from '../layouts/Layout.astro';
import Animation from '../components/Animation.astro';
---

<Layout
  title="Andy Stevens"
  description="The homepage of poet and writer Andy Stevens."
  extraHead='<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fjalla+One" crossorigin="" />'
>
  <div class="w-full h-full relative">
    <Animation />
  </div>
</Layout>
