---
import Layout from '../layouts/Layout.astro';
import FeedItem from '../components/FeedItem.astro';
import { getCollection } from 'astro:content';
import { mapBlogPosts, mapNotes, mapBookmarks, mapLikes, mapAlbums, mapReplies, mapWriting, mapAwards, sortByDate } from '../lib/feed';

const [posts, notes, bookmarks, likes, albums, replies, writing, awards] = await Promise.all([
  getCollection('blog', ({ data }) => data.published !== false),
  getCollection('notes', ({ data }) => data.published !== false),
  getCollection('bookmarks', ({ data }) => data.published !== false),
  getCollection('likes', ({ data }) => data.published !== false),
  getCollection('albums', ({ data }) => data.published !== false),
  getCollection('replies', ({ data }) => data.published !== false),
  getCollection('writing', ({ data }) => data.published !== false),
  getCollection('awards', ({ data }) => data.published !== false),
]);

const feed = sortByDate([
  ...mapBlogPosts(posts),
  ...mapNotes(notes),
  ...mapBookmarks(bookmarks),
  ...mapLikes(likes),
  ...mapAlbums(albums),
  ...mapReplies(replies),
  ...mapWriting(writing),
  ...mapAwards(awards),
]);

const recent = feed.slice(0, 20);
---

<Layout
  description="The homepage of poet and writer Andy Stevens."
>
  <h1>Recent</h1>
  <section class="recent-feed h-feed">
    <span class="p-name" style="display:none" aria-hidden="true">Andy Stevens</span>
    <a class="p-author h-card" href="https://andystevens.name" style="display:none" aria-hidden="true">Andy Stevens</a>
    {recent.map((item) => <FeedItem {...item} />)}
  </section>
</Layout>
