---
import PostMeta from './PostMeta.astro';

interface Props {
  post: {
    id: string;
    data: {
      title: string;
      description?: string;
      date?: Date;
      tags?: string[];
    };
  };
}

const { post } = Astro.props;
---

<div class="h-entry">
  <h2>
    <a class="p-name u-url" href={`/blog/${post.id}/`}>{post.data.title}</a>
  </h2>
  {post.data.description && <p class="p-summary">{post.data.description}</p>}
  <PostMeta post={post} />
</div>
